<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO List</title>
</head>
<body>
    <h1>TO DO LIST</h1>
    <p>lorem ipsum dolor sit amet, consectetur adip</p>
    <% tasks.forEach(task => { %>
        <p><%= task.task %></p>
        <p><%= task.status %></p>
        <p><%= task. %></p>

    <% }) %>
</body>
</html>
